body {
	background: #e2e2e2 ! important;
}

.bg-primary {
	background: #009688 ! important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
		url("../img/banner.jpg");
	background-size: cover;
	color: white;
}

.my-card {
	padding: 10px;
	background: white;
}

.divider:after, .divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}

.h-custom {
	height: calc(100% - 73px);
}

@media ( max-width : 450px) {
	.h-custom {
		height: 100%;
	}
}

/* Sidebar style*/
@media only screen and (max-width: 600px) {
	.sidebar {
		display: block;
		width: 80%!important;
		background: white;
		height: 100vh;
		padding-top: 20px;
		
	}
	
	.content{
		margin-left: 0%!important;
	}
	
}

.sidebar {
	width: 18%;
	background: #009688 ! important;
	color:white;
	height: 100%;
	position: fixed;
	padding-top: 50px;
	z-index: 9999999999999999999999999;
	
}

.sidebar a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: white;
	padding: 10px 25px;
	
}

.sidebar a:hover {
	background: #2d2d2d;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.sidebar .crossBtn:hover{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
	color: #2d2d2d;
}

/* three lines style */
#three-lines{
	cursor: pointer;
	color: white;
}
#three-lines:hover{
	color: #2d2d2d;
}

/* title addContact */
#title{
	margin-top: -18.20px;
}

/*  AddBtn style*/
#addBtn:hover{
	color: white;
	background: #2d2d2d!important;
}

/* Pagination active link color style */
.page-item.active .page-link {
    background-color: #009688! important; /* Change to your desired color */
    color: white; /* Text color for active page */
    border-color:white; /* Border color for active page */
}


/* action button*/
/* #data:hover{
	color: white;
	background: #2d2d2d!important;
	cursor: pointer;
} */

#data:hover{
	color: white;
	background:  #009688! important;
	cursor: pointer;
}

.dlt{
	color: red;
}

.upt{
	color: blue;
}

/* profile image */
.profile_img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit:cover;
}

.profile_pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit:cover;
}

/* .profile_link{
	color: white!important;
} */
.profile_link{
	color: black!important;
}
.profile_link:hover{
	color: white!important;

}

/* your contacts, showContact and contactDetails card style */
.card-color{
	background: rgb(239, 239, 239);
}

/* Content style*/
.content {
	margin-left: 20%;
	margin-top: 65px;
}


/* Search bar CSS */

.search-container{
	position:relative;
}

.search-result{
	position: absolute;
	background: white;
	border: 1px solid gray;
	width: 100%;
	padding: 10px;
	display: none;
}