<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="(~{base::layout(~{::section})})">
<head>
<meta charset="UTF-8" />
<title>Change password</title>
</head>
<body>




	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
						class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">

					<form th:action="@{/change-password}" method="post">
						
						<h1 class="text-center mb-4">Change password</h1>
						
						<!-- This section is for message  -->
						<div th:if="${session.message}" class="container">
							<div class="alert alert-danger my-2 text-center" role="alert">
								<span th:text="${session.message}"></span>
							</div>
						</div>
						<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						<div class="form-group mx-sm-3 mb-2">
							<input type="password" id="form3Example3" name="newpassword"
							 class="form-control"	placeholder="New password"  />
						</div>
						<div class="form-group mx-sm-3 mb-2">
							<input type="password" id="form3Example3" name="confirmpassword"
							 class="form-control"	placeholder="Confirm new password"  />
						</div>




						<div class="text-center text-lg-start mt-4 pt-2">
							<button type="submit" class="btn btn-success">Change password</button>

						</div>

					</form>
				</div>
			</div>
		</div>

	</section>

</body>
</html>